header {
  .container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    .svetafor {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 200px;
      height: 620px;
      padding: 10px;
      background-color: black;
      .red {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: gray;
      }
      .yellow {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: gray;
      }
      .green {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: gray;
      }
    }
  }
  background-color: #fff;
  margin: 50px 0;
}
